In [126]:
cd /Users/Diane/benson/sf18_ds9_benson/

/Users/Diane/benson/sf18_ds9_benson

In [127]:
import sys
import os
import glob
import datetime

In [128]:
import pandas as pd

In [129]:
file_list = glob.glob("data/turnstile_*.txt.gz")

In [130]:
df_list = [pd.read_csv(file_name) for file_name in file_list]
df = pd.concat(df_list)

In [131]:
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,23:00:00,REGULAR,5992638,2028572
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,03:00:00,REGULAR,5992718,2028585
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,07:00:00,REGULAR,5992730,2028594
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,11:00:00,REGULAR,5992776,2028636
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,15:00:00,REGULAR,5992980,2028680
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,19:00:00,REGULAR,5993301,2028728
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,23:00:00,REGULAR,5993515,2028750
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,03:00:00,REGULAR,5993559,2028754
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,07:00:00,REGULAR,5993571,2028771
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,11:00:00,REGULAR,5993659,2028883
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,15:00:00,REGULAR,5993912,2028982
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,19:00:00,REGULAR,5994282,2029042
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,23:00:00,REGULAR,5994466,2029065
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,03:00:00,REGULAR,5994505,2029072
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,07:00:00,REGULAR,5994533,2029121
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,11:00:00,REGULAR,5994717,2029452
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,15:00:00,REGULAR,5995024,2029538
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,19:00:00,REGULAR,5995873,2029619
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,23:00:00,REGULAR,5996220,2029661
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,03:00:00,REGULAR,5996263,2029669
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,07:00:00,REGULAR,5996284,2029714
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,11:00:00,REGULAR,5996475,2030048
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,15:00:00,REGULAR,5996749,2030135
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,19:00:00,REGULAR,5997537,2030217
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,23:00:00,REGULAR,5997865,2030259
...,...,...,...,...,...,...,...,...,...,...,...
197391,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,05:00:00,REGULAR,5554,301
197392,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,09:00:00,REGULAR,5554,301
197393,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,13:00:00,REGULAR,5554,301
197394,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,17:00:00,REGULAR,5554,301
197395,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,21:00:00,REGULAR,5554,301
197396,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,01:00:00,REGULAR,5554,301
197397,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,05:00:00,REGULAR,5554,301
197398,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,09:00:00,REGULAR,5554,301
197399,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,13:00:00,REGULAR,5554,301
197400,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,17:00:00,REGULAR,5554,301
197401,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,21:00:00,REGULAR,5554,301
197402,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,01:00:00,REGULAR,5554,301
197403,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,05:00:00,REGULAR,5554,301
197404,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,09:00:00,REGULAR,5554,301
197405,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,13:00:00,REGULAR,5554,301
197406,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,17:00:00,REGULAR,5554,301
197407,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,21:00:00,REGULAR,5554,301
197408,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,01:00:00,REGULAR,5554,301
197409,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,05:00:00,REGULAR,5554,301
197410,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,09:00:00,REGULAR,5554,301
197411,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,13:00:00,REGULAR,5554,301
197412,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,17:00:00,REGULAR,5554,301
197413,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,21:00:00,REGULAR,5554,301
197414,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,01:00:00,REGULAR,5554,301
197415,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,05:00:00,REGULAR,5554,301
197416,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,07:17:19,REGULAR,5554,301
197417,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,09:00:00,REGULAR,5554,301
197418,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,13:00:00,REGULAR,5554,301
197419,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,17:00:00,REGULAR,5554,301
197420,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,21:00:00,REGULAR,5554,301

In [132]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [133]:
#remove space from EXITS column title
df.columns = [column.strip() for column in df.columns]

In [134]:
from datetime import datetime as dt

In [135]:
df["DATE_TIME"] = pd.to_datetime(df.DATE + " " + df.TIME, 
                                            format="%m/%d/%Y %H:%M:%S")

In [136]:
mask = ((df["C/A"] == "A002") & 
        (df["UNIT"] == "R051") & 
        (df["SCP"] == "02-00-00") & 
        (df["STATION"] == "59 ST"))
df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378,2016-12-31 03:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389,2016-12-31 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441,2016-12-31 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502,2016-12-31 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543,2016-12-31 19:00:00

In [137]:
mask = ((df["C/A"] == "R626") & 
(df["UNIT"] == "R062") & 
(df["SCP"] == "00-00-00") & 
(df["STATION"] == "CROWN HTS-UTICA"))
df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
188630,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,12/31/2016,03:00:00,REGULAR,12456428,2767465,2016-12-31 03:00:00
188631,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,12/31/2016,07:00:00,REGULAR,12456539,2767480,2016-12-31 07:00:00
188632,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,12/31/2016,11:00:00,REGULAR,12456941,2767534,2016-12-31 11:00:00
188633,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,12/31/2016,15:00:00,REGULAR,12457380,2767606,2016-12-31 15:00:00
188634,R626,R062,00-00-00,CROWN HTS-UTICA,34,IRT,12/31/2016,19:00:00,REGULAR,12457773,2767728,2016-12-31 19:00:00

In [138]:
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378,2016-12-31 03:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389,2016-12-31 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441,2016-12-31 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502,2016-12-31 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543,2016-12-31 19:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,23:00:00,REGULAR,5992638,2028572,2016-12-31 23:00:00
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,03:00:00,REGULAR,5992718,2028585,2017-01-01 03:00:00
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,07:00:00,REGULAR,5992730,2028594,2017-01-01 07:00:00
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,11:00:00,REGULAR,5992776,2028636,2017-01-01 11:00:00
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,15:00:00,REGULAR,5992980,2028680,2017-01-01 15:00:00
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,19:00:00,REGULAR,5993301,2028728,2017-01-01 19:00:00
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,23:00:00,REGULAR,5993515,2028750,2017-01-01 23:00:00
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,03:00:00,REGULAR,5993559,2028754,2017-01-02 03:00:00
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,07:00:00,REGULAR,5993571,2028771,2017-01-02 07:00:00
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,11:00:00,REGULAR,5993659,2028883,2017-01-02 11:00:00
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,15:00:00,REGULAR,5993912,2028982,2017-01-02 15:00:00
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,19:00:00,REGULAR,5994282,2029042,2017-01-02 19:00:00
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,23:00:00,REGULAR,5994466,2029065,2017-01-02 23:00:00
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,03:00:00,REGULAR,5994505,2029072,2017-01-03 03:00:00
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,07:00:00,REGULAR,5994533,2029121,2017-01-03 07:00:00
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,11:00:00,REGULAR,5994717,2029452,2017-01-03 11:00:00
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,15:00:00,REGULAR,5995024,2029538,2017-01-03 15:00:00
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,19:00:00,REGULAR,5995873,2029619,2017-01-03 19:00:00
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,23:00:00,REGULAR,5996220,2029661,2017-01-03 23:00:00
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,03:00:00,REGULAR,5996263,2029669,2017-01-04 03:00:00
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,07:00:00,REGULAR,5996284,2029714,2017-01-04 07:00:00
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,11:00:00,REGULAR,5996475,2030048,2017-01-04 11:00:00
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,15:00:00,REGULAR,5996749,2030135,2017-01-04 15:00:00
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,19:00:00,REGULAR,5997537,2030217,2017-01-04 19:00:00
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,23:00:00,REGULAR,5997865,2030259,2017-01-04 23:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
197391,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,05:00:00,REGULAR,5554,301,2017-06-26 05:00:00
197392,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,09:00:00,REGULAR,5554,301,2017-06-26 09:00:00
197393,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,13:00:00,REGULAR,5554,301,2017-06-26 13:00:00
197394,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,17:00:00,REGULAR,5554,301,2017-06-26 17:00:00
197395,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,21:00:00,REGULAR,5554,301,2017-06-26 21:00:00
197396,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,01:00:00,REGULAR,5554,301,2017-06-27 01:00:00
197397,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,05:00:00,REGULAR,5554,301,2017-06-27 05:00:00
197398,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,09:00:00,REGULAR,5554,301,2017-06-27 09:00:00
197399,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,13:00:00,REGULAR,5554,301,2017-06-27 13:00:00
197400,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,17:00:00,REGULAR,5554,301,2017-06-27 17:00:00
197401,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,21:00:00,REGULAR,5554,301,2017-06-27 21:00:00
197402,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,01:00:00,REGULAR,5554,301,2017-06-28 01:00:00
197403,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,05:00:00,REGULAR,5554,301,2017-06-28 05:00:00
197404,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,09:00:00,REGULAR,5554,301,2017-06-28 09:00:00
197405,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,13:00:00,REGULAR,5554,301,2017-06-28 13:00:00
197406,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,17:00:00,REGULAR,5554,301,2017-06-28 17:00:00
197407,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,21:00:00,REGULAR,5554,301,2017-06-28 21:00:00
197408,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,01:00:00,REGULAR,5554,301,2017-06-29 01:00:00
197409,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,05:00:00,REGULAR,5554,301,2017-06-29 05:00:00
197410,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,09:00:00,REGULAR,5554,301,2017-06-29 09:00:00
197411,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,13:00:00,REGULAR,5554,301,2017-06-29 13:00:00
197412,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,17:00:00,REGULAR,5554,301,2017-06-29 17:00:00
197413,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,21:00:00,REGULAR,5554,301,2017-06-29 21:00:00
197414,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,01:00:00,REGULAR,5554,301,2017-06-30 01:00:00
197415,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,05:00:00,REGULAR,5554,301,2017-06-30 05:00:00
197416,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,07:17:19,REGULAR,5554,301,2017-06-30 07:17:19
197417,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,09:00:00,REGULAR,5554,301,2017-06-30 09:00:00
197418,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,13:00:00,REGULAR,5554,301,2017-06-30 13:00:00
197419,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,17:00:00,REGULAR,5554,301,2017-06-30 17:00:00
197420,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,21:00:00,REGULAR,5554,301,2017-06-30 21:00:00

In [139]:
# Sanity Check to verify that "C/A", "UNIT", "SCP", "STATION", "DATE_TIME" is unique
(df
 .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"])
 .ENTRIES.count()
 .reset_index()
 .sort_values("ENTRIES", ascending=False)).head(20)

           C/A  UNIT       SCP          STATION           DATE_TIME  ENTRIES
4616479   R518  R261  00-00-00  40 ST LOWERY ST 2017-03-13 12:00:00        2
4414960   R408  R449  00-00-02         E 149 ST 2017-03-10 08:00:00        2
2112136  N329A  R201  01-06-01   WOODHAVEN BLVD 2017-03-17 05:00:00        2
4619779   R518  R261  00-03-00  40 ST LOWERY ST 2017-03-13 12:00:00        2
4620879   R518  R261  00-03-01  40 ST LOWERY ST 2017-03-13 12:00:00        2
711806    G001  R151  00-00-00  CONEY IS-STILLW 2017-05-09 05:00:00        2
4534831   R504  R276  00-00-01   VERNON-JACKSON 2017-05-26 20:00:00        2
4621979   R518  R261  00-03-02  40 ST LOWERY ST 2017-03-13 12:00:00        2
3466052   R158  R084  00-06-00   59 ST COLUMBUS 2017-03-05 03:00:00        2
2101411   N329  R201  00-00-00   WOODHAVEN BLVD 2017-04-28 05:00:00        2
4622484   R518  R261  00-03-02  40 ST LOWERY ST 2017-06-05 08:00:00        2
3465853   R158  R084  00-06-00   59 ST COLUMBUS 2017-01-31 03:00:00        2
4412768   R408  R449  00-00-00         E 149 ST 2017-03-10 08:00:00        2
1053092  N002A  R173  00-00-00    INWOOD-207 ST 2017-03-23 05:00:00        2
4413863   R408  R449  00-00-01         E 149 ST 2017-03-10 08:00:00        2
2768242   N605  R024  00-00-02   SUTPHIN-ARCHER 2017-01-22 15:00:00        2
4534298   R504  R276  00-00-01   VERNON-JACKSON 2017-02-27 15:00:00        2
3178491   R101  R001  02-00-06      SOUTH FERRY 2017-03-24 05:00:00        2
3405766   R145  R032  00-06-02   TIMES SQ-42 ST 2017-03-15 12:00:00        1
3405770   R145  R032  00-06-02   TIMES SQ-42 ST 2017-03-16 04:00:00        1

In [140]:
#18 duplicates total

In [141]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df["C/A"] == "R518") & 
(df["UNIT"] == "R261") & 
(df["SCP"] == "00-00-00") & 
(df["STATION"] == "40 ST LOWERY ST") &
(df["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175188,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,4612411,12372306,2017-03-13 00:00:00
175189,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,4612431,12372389,2017-03-13 04:00:00
175190,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,4612534,12372568,2017-03-13 08:00:00
175191,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,4612723,12372892,2017-03-13 12:00:00
175192,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,4612722,12372892,2017-03-13 12:00:00

In [142]:
#drop column #175192. df1 = non duplicates
df1 = df.copy(deep = True)

In [143]:
df1 #df1 was copied correctly!

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378,2016-12-31 03:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389,2016-12-31 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441,2016-12-31 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502,2016-12-31 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543,2016-12-31 19:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,23:00:00,REGULAR,5992638,2028572,2016-12-31 23:00:00
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,03:00:00,REGULAR,5992718,2028585,2017-01-01 03:00:00
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,07:00:00,REGULAR,5992730,2028594,2017-01-01 07:00:00
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,11:00:00,REGULAR,5992776,2028636,2017-01-01 11:00:00
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,15:00:00,REGULAR,5992980,2028680,2017-01-01 15:00:00
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,19:00:00,REGULAR,5993301,2028728,2017-01-01 19:00:00
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,23:00:00,REGULAR,5993515,2028750,2017-01-01 23:00:00
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,03:00:00,REGULAR,5993559,2028754,2017-01-02 03:00:00
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,07:00:00,REGULAR,5993571,2028771,2017-01-02 07:00:00
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,11:00:00,REGULAR,5993659,2028883,2017-01-02 11:00:00
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,15:00:00,REGULAR,5993912,2028982,2017-01-02 15:00:00
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,19:00:00,REGULAR,5994282,2029042,2017-01-02 19:00:00
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,23:00:00,REGULAR,5994466,2029065,2017-01-02 23:00:00
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,03:00:00,REGULAR,5994505,2029072,2017-01-03 03:00:00
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,07:00:00,REGULAR,5994533,2029121,2017-01-03 07:00:00
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,11:00:00,REGULAR,5994717,2029452,2017-01-03 11:00:00
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,15:00:00,REGULAR,5995024,2029538,2017-01-03 15:00:00
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,19:00:00,REGULAR,5995873,2029619,2017-01-03 19:00:00
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,23:00:00,REGULAR,5996220,2029661,2017-01-03 23:00:00
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,03:00:00,REGULAR,5996263,2029669,2017-01-04 03:00:00
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,07:00:00,REGULAR,5996284,2029714,2017-01-04 07:00:00
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,11:00:00,REGULAR,5996475,2030048,2017-01-04 11:00:00
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,15:00:00,REGULAR,5996749,2030135,2017-01-04 15:00:00
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,19:00:00,REGULAR,5997537,2030217,2017-01-04 19:00:00
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,23:00:00,REGULAR,5997865,2030259,2017-01-04 23:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
197391,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,05:00:00,REGULAR,5554,301,2017-06-26 05:00:00
197392,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,09:00:00,REGULAR,5554,301,2017-06-26 09:00:00
197393,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,13:00:00,REGULAR,5554,301,2017-06-26 13:00:00
197394,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,17:00:00,REGULAR,5554,301,2017-06-26 17:00:00
197395,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,21:00:00,REGULAR,5554,301,2017-06-26 21:00:00
197396,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,01:00:00,REGULAR,5554,301,2017-06-27 01:00:00
197397,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,05:00:00,REGULAR,5554,301,2017-06-27 05:00:00
197398,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,09:00:00,REGULAR,5554,301,2017-06-27 09:00:00
197399,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,13:00:00,REGULAR,5554,301,2017-06-27 13:00:00
197400,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,17:00:00,REGULAR,5554,301,2017-06-27 17:00:00
197401,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,21:00:00,REGULAR,5554,301,2017-06-27 21:00:00
197402,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,01:00:00,REGULAR,5554,301,2017-06-28 01:00:00
197403,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,05:00:00,REGULAR,5554,301,2017-06-28 05:00:00
197404,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,09:00:00,REGULAR,5554,301,2017-06-28 09:00:00
197405,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,13:00:00,REGULAR,5554,301,2017-06-28 13:00:00
197406,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,17:00:00,REGULAR,5554,301,2017-06-28 17:00:00
197407,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,21:00:00,REGULAR,5554,301,2017-06-28 21:00:00
197408,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,01:00:00,REGULAR,5554,301,2017-06-29 01:00:00
197409,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,05:00:00,REGULAR,5554,301,2017-06-29 05:00:00
197410,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,09:00:00,REGULAR,5554,301,2017-06-29 09:00:00
197411,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,13:00:00,REGULAR,5554,301,2017-06-29 13:00:00
197412,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,17:00:00,REGULAR,5554,301,2017-06-29 17:00:00
197413,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,21:00:00,REGULAR,5554,301,2017-06-29 21:00:00
197414,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,01:00:00,REGULAR,5554,301,2017-06-30 01:00:00
197415,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,05:00:00,REGULAR,5554,301,2017-06-30 05:00:00
197416,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,07:17:19,REGULAR,5554,301,2017-06-30 07:17:19
197417,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,09:00:00,REGULAR,5554,301,2017-06-30 09:00:00
197418,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,13:00:00,REGULAR,5554,301,2017-06-30 13:00:00
197419,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,17:00:00,REGULAR,5554,301,2017-06-30 17:00:00
197420,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,21:00:00,REGULAR,5554,301,2017-06-30 21:00:00

In [144]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R261") & 
(df1["SCP"] == "00-00-00") & 
(df1["STATION"] == "40 ST LOWERY ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175188,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,4612411,12372306,2017-03-13 00:00:00
175189,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,4612431,12372389,2017-03-13 04:00:00
175190,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,4612534,12372568,2017-03-13 08:00:00
175191,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,4612723,12372892,2017-03-13 12:00:00
175192,R518,R261,00-00-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,4612722,12372892,2017-03-13 12:00:00

In [145]:
df1.DESC.value_counts()

REGULAR       5084838
RECOVR AUD      23837
Name: DESC, dtype: int64

In [146]:
# On 3/10, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R408") & 
(df1["UNIT"] == "R449") & 
(df1["SCP"] == "00-00-02") & 
(df1["STATION"] == "E 149 ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 10).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
169996,R408,R449,00-00-02,E 149 ST,6,IRT,03/10/2017,00:00:00,REGULAR,4313567,2468887,2017-03-10 00:00:00
169997,R408,R449,00-00-02,E 149 ST,6,IRT,03/10/2017,04:00:00,REGULAR,4313567,2468888,2017-03-10 04:00:00
169998,R408,R449,00-00-02,E 149 ST,6,IRT,03/10/2017,08:00:00,REGULAR,4314029,2468972,2017-03-10 08:00:00
169999,R408,R449,00-00-02,E 149 ST,6,IRT,03/10/2017,08:00:00,RECOVR AUD,4314083,2468989,2017-03-10 08:00:00
170000,R408,R449,00-00-02,E 149 ST,6,IRT,03/10/2017,12:00:00,REGULAR,4314378,2469131,2017-03-10 12:00:00

In [147]:
# On 3/17, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "N329A") & 
(df1["UNIT"] == "R201") & 
(df1["SCP"] == "01-06-01") & 
(df1["STATION"] == "WOODHAVEN BLVD") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 17).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
79945,N329A,R201,01-06-01,WOODHAVEN BLVD,MR,IND,03/17/2017,01:00:00,REGULAR,966224,108783,2017-03-17 01:00:00
79946,N329A,R201,01-06-01,WOODHAVEN BLVD,MR,IND,03/17/2017,05:00:00,REGULAR,966238,108793,2017-03-17 05:00:00
79947,N329A,R201,01-06-01,WOODHAVEN BLVD,MR,IND,03/17/2017,05:00:00,RECOVR AUD,966237,108793,2017-03-17 05:00:00
79948,N329A,R201,01-06-01,WOODHAVEN BLVD,MR,IND,03/17/2017,09:00:00,REGULAR,967156,108799,2017-03-17 09:00:00
79949,N329A,R201,01-06-01,WOODHAVEN BLVD,MR,IND,03/17/2017,13:00:00,REGULAR,967688,108816,2017-03-17 13:00:00

In [148]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R261") & 
(df1["SCP"] == "00-03-00") & 
(df1["STATION"] == "40 ST LOWERY ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175312,R518,R261,00-03-00,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,8100034,11649355,2017-03-13 00:00:00
175313,R518,R261,00-03-00,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,8100034,11649355,2017-03-13 04:00:00
175314,R518,R261,00-03-00,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,8100525,11649562,2017-03-13 08:00:00
175315,R518,R261,00-03-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,8101517,11649858,2017-03-13 12:00:00
175316,R518,R261,00-03-00,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,8101517,11649856,2017-03-13 12:00:00

In [149]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R261") & 
(df1["SCP"] == "00-03-01") & 
(df1["STATION"] == "40 ST LOWERY ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175354,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,13199567,4843719,2017-03-13 00:00:00
175355,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,13199567,4843719,2017-03-13 04:00:00
175356,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,13199986,4843914,2017-03-13 08:00:00
175357,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,13200993,4844178,2017-03-13 12:00:00
175358,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,13200992,4844177,2017-03-13 12:00:00

In [150]:
# On 5/9, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "G001") & 
(df1["UNIT"] == "R151") & 
(df1["SCP"] == "00-00-00") & 
(df1["STATION"] == "CONEY IS-STILLW") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 5, 9).date()))
df1[mask].head(10)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
26960,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,01:00:00,REGULAR,199982,337867,2017-05-09 01:00:00
26961,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,05:00:00,REGULAR,200022,337947,2017-05-09 05:00:00
26962,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,05:00:00,RECOVR AUD,200021,337947,2017-05-09 05:00:00
26963,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,09:00:00,REGULAR,200363,338280,2017-05-09 09:00:00
26964,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,13:00:00,REGULAR,200546,338821,2017-05-09 13:00:00
26965,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,17:00:00,REGULAR,200860,339305,2017-05-09 17:00:00
26966,G001,R151,00-00-00,CONEY IS-STILLW,DFNQ,BMT,05/09/2017,21:00:00,REGULAR,201098,339691,2017-05-09 21:00:00

In [151]:
# On 5/26, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R504") & 
(df1["UNIT"] == "R276") & 
(df1["SCP"] == "00-00-01") & 
(df1["STATION"] == "VERNON-JACKSON") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 5, 26).date()))
df1[mask].head(9)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
173448,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,00:00:00,REGULAR,8651134,1430855,2017-05-26 00:00:00
173449,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,04:00:00,REGULAR,8651156,1430857,2017-05-26 04:00:00
173450,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,08:00:00,REGULAR,8651459,1430934,2017-05-26 08:00:00
173451,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,12:00:00,REGULAR,8652461,1431057,2017-05-26 12:00:00
173452,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,16:00:00,REGULAR,8652911,1431171,2017-05-26 16:00:00
173453,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,20:00:00,REGULAR,8653329,1431335,2017-05-26 20:00:00
173454,R504,R276,00-00-01,VERNON-JACKSON,7,IRT,05/26/2017,20:00:00,RECOVR AUD,8653331,1431335,2017-05-26 20:00:00

In [152]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R261") & 
(df1["SCP"] == "00-03-02") & 
(df1["STATION"] == "40 ST LOWERY ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175396,R518,R261,00-03-02,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,18554690,7374490,2017-03-13 00:00:00
175397,R518,R261,00-03-02,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,18554690,7374490,2017-03-13 04:00:00
175398,R518,R261,00-03-02,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,18555378,7374670,2017-03-13 08:00:00
175399,R518,R261,00-03-02,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,18556595,7374834,2017-03-13 12:00:00
175400,R518,R261,00-03-02,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,18556595,7374832,2017-03-13 12:00:00

In [153]:
# On 3/5, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R084") & 
(df1["SCP"] == "00-06-00") & 
(df1["STATION"] == "59 ST COLUMBUS") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 5).date()))
df1[mask].head(5)

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS, DATE_TIME]
Index: []

In [154]:
# On 3/13, we seem to have two entries for same time.  Let's take a look
mask = ((df1["C/A"] == "R518") & 
(df1["UNIT"] == "R261") & 
(df1["SCP"] == "00-03-01") & 
(df1["STATION"] == "40 ST LOWERY ST") &
(df1["DATE_TIME"].dt.date == datetime.datetime(2017, 3, 13).date()))
df1[mask].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
175354,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,00:00:00,REGULAR,13199567,4843719,2017-03-13 00:00:00
175355,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,04:00:00,REGULAR,13199567,4843719,2017-03-13 04:00:00
175356,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,08:00:00,RECOVR AUD,13199986,4843914,2017-03-13 08:00:00
175357,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,REGULAR,13200993,4844178,2017-03-13 12:00:00
175358,R518,R261,00-03-01,40 ST LOWERY ST,7,IRT,03/13/2017,12:00:00,RECOVR AUD,13200992,4844177,2017-03-13 12:00:00

In [155]:
#look through all duplicates later. for now, create d2 = the dataframe with no duplicates

In [156]:
df2 = df1.copy(deep = True)

In [157]:
df2.sort_values(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], 
                          inplace=True, ascending=True)

In [158]:
df2

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378,2016-12-31 03:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389,2016-12-31 07:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441,2016-12-31 11:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502,2016-12-31 15:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543,2016-12-31 19:00:00
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,23:00:00,REGULAR,5992638,2028572,2016-12-31 23:00:00
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,03:00:00,REGULAR,5992718,2028585,2017-01-01 03:00:00
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,07:00:00,REGULAR,5992730,2028594,2017-01-01 07:00:00
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,11:00:00,REGULAR,5992776,2028636,2017-01-01 11:00:00
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,15:00:00,REGULAR,5992980,2028680,2017-01-01 15:00:00
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,19:00:00,REGULAR,5993301,2028728,2017-01-01 19:00:00
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,23:00:00,REGULAR,5993515,2028750,2017-01-01 23:00:00
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,03:00:00,REGULAR,5993559,2028754,2017-01-02 03:00:00
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,07:00:00,REGULAR,5993571,2028771,2017-01-02 07:00:00
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,11:00:00,REGULAR,5993659,2028883,2017-01-02 11:00:00
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,15:00:00,REGULAR,5993912,2028982,2017-01-02 15:00:00
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,19:00:00,REGULAR,5994282,2029042,2017-01-02 19:00:00
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,23:00:00,REGULAR,5994466,2029065,2017-01-02 23:00:00
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,03:00:00,REGULAR,5994505,2029072,2017-01-03 03:00:00
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,07:00:00,REGULAR,5994533,2029121,2017-01-03 07:00:00
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,11:00:00,REGULAR,5994717,2029452,2017-01-03 11:00:00
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,15:00:00,REGULAR,5995024,2029538,2017-01-03 15:00:00
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,19:00:00,REGULAR,5995873,2029619,2017-01-03 19:00:00
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,23:00:00,REGULAR,5996220,2029661,2017-01-03 23:00:00
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,03:00:00,REGULAR,5996263,2029669,2017-01-04 03:00:00
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,07:00:00,REGULAR,5996284,2029714,2017-01-04 07:00:00
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,11:00:00,REGULAR,5996475,2030048,2017-01-04 11:00:00
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,15:00:00,REGULAR,5996749,2030135,2017-01-04 15:00:00
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,19:00:00,REGULAR,5997537,2030217,2017-01-04 19:00:00
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,23:00:00,REGULAR,5997865,2030259,2017-01-04 23:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
197391,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,05:00:00,REGULAR,5554,301,2017-06-26 05:00:00
197392,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,09:00:00,REGULAR,5554,301,2017-06-26 09:00:00
197393,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,13:00:00,REGULAR,5554,301,2017-06-26 13:00:00
197394,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,17:00:00,REGULAR,5554,301,2017-06-26 17:00:00
197395,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,21:00:00,REGULAR,5554,301,2017-06-26 21:00:00
197396,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,01:00:00,REGULAR,5554,301,2017-06-27 01:00:00
197397,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,05:00:00,REGULAR,5554,301,2017-06-27 05:00:00
197398,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,09:00:00,REGULAR,5554,301,2017-06-27 09:00:00
197399,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,13:00:00,REGULAR,5554,301,2017-06-27 13:00:00
197400,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,17:00:00,REGULAR,5554,301,2017-06-27 17:00:00
197401,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,21:00:00,REGULAR,5554,301,2017-06-27 21:00:00
197402,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,01:00:00,REGULAR,5554,301,2017-06-28 01:00:00
197403,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,05:00:00,REGULAR,5554,301,2017-06-28 05:00:00
197404,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,09:00:00,REGULAR,5554,301,2017-06-28 09:00:00
197405,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,13:00:00,REGULAR,5554,301,2017-06-28 13:00:00
197406,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,17:00:00,REGULAR,5554,301,2017-06-28 17:00:00
197407,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,21:00:00,REGULAR,5554,301,2017-06-28 21:00:00
197408,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,01:00:00,REGULAR,5554,301,2017-06-29 01:00:00
197409,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,05:00:00,REGULAR,5554,301,2017-06-29 05:00:00
197410,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,09:00:00,REGULAR,5554,301,2017-06-29 09:00:00
197411,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,13:00:00,REGULAR,5554,301,2017-06-29 13:00:00
197412,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,17:00:00,REGULAR,5554,301,2017-06-29 17:00:00
197413,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,21:00:00,REGULAR,5554,301,2017-06-29 21:00:00
197414,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,01:00:00,REGULAR,5554,301,2017-06-30 01:00:00
197415,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,05:00:00,REGULAR,5554,301,2017-06-30 05:00:00
197416,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,07:17:19,REGULAR,5554,301,2017-06-30 07:17:19
197417,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,09:00:00,REGULAR,5554,301,2017-06-30 09:00:00
197418,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,13:00:00,REGULAR,5554,301,2017-06-30 13:00:00
197419,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,17:00:00,REGULAR,5554,301,2017-06-30 17:00:00
197420,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,21:00:00,REGULAR,5554,301,2017-06-30 21:00:00

In [159]:
df2.drop_duplicates(subset=["C/A", "UNIT", "SCP", "STATION", "DATE_TIME"], inplace=True)

In [160]:
#make a column for day of the week

In [161]:
df2['DAY_OF_THE_WEEK'] = df2['DATE_TIME'].dt.weekday_name
df2

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME,DAY_OF_THE_WEEK
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378,2016-12-31 03:00:00,Saturday
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389,2016-12-31 07:00:00,Saturday
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441,2016-12-31 11:00:00,Saturday
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502,2016-12-31 15:00:00,Saturday
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543,2016-12-31 19:00:00,Saturday
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,23:00:00,REGULAR,5992638,2028572,2016-12-31 23:00:00,Saturday
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,03:00:00,REGULAR,5992718,2028585,2017-01-01 03:00:00,Sunday
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,07:00:00,REGULAR,5992730,2028594,2017-01-01 07:00:00,Sunday
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,11:00:00,REGULAR,5992776,2028636,2017-01-01 11:00:00,Sunday
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,15:00:00,REGULAR,5992980,2028680,2017-01-01 15:00:00,Sunday
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,19:00:00,REGULAR,5993301,2028728,2017-01-01 19:00:00,Sunday
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/01/2017,23:00:00,REGULAR,5993515,2028750,2017-01-01 23:00:00,Sunday
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,03:00:00,REGULAR,5993559,2028754,2017-01-02 03:00:00,Monday
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,07:00:00,REGULAR,5993571,2028771,2017-01-02 07:00:00,Monday
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,11:00:00,REGULAR,5993659,2028883,2017-01-02 11:00:00,Monday
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,15:00:00,REGULAR,5993912,2028982,2017-01-02 15:00:00,Monday
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,19:00:00,REGULAR,5994282,2029042,2017-01-02 19:00:00,Monday
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/02/2017,23:00:00,REGULAR,5994466,2029065,2017-01-02 23:00:00,Monday
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,03:00:00,REGULAR,5994505,2029072,2017-01-03 03:00:00,Tuesday
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,07:00:00,REGULAR,5994533,2029121,2017-01-03 07:00:00,Tuesday
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,11:00:00,REGULAR,5994717,2029452,2017-01-03 11:00:00,Tuesday
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,15:00:00,REGULAR,5995024,2029538,2017-01-03 15:00:00,Tuesday
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,19:00:00,REGULAR,5995873,2029619,2017-01-03 19:00:00,Tuesday
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/03/2017,23:00:00,REGULAR,5996220,2029661,2017-01-03 23:00:00,Tuesday
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,03:00:00,REGULAR,5996263,2029669,2017-01-04 03:00:00,Wednesday
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,07:00:00,REGULAR,5996284,2029714,2017-01-04 07:00:00,Wednesday
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,11:00:00,REGULAR,5996475,2030048,2017-01-04 11:00:00,Wednesday
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,15:00:00,REGULAR,5996749,2030135,2017-01-04 15:00:00,Wednesday
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,19:00:00,REGULAR,5997537,2030217,2017-01-04 19:00:00,Wednesday
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,01/04/2017,23:00:00,REGULAR,5997865,2030259,2017-01-04 23:00:00,Wednesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
197391,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,05:00:00,REGULAR,5554,301,2017-06-26 05:00:00,Monday
197392,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,09:00:00,REGULAR,5554,301,2017-06-26 09:00:00,Monday
197393,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,13:00:00,REGULAR,5554,301,2017-06-26 13:00:00,Monday
197394,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,17:00:00,REGULAR,5554,301,2017-06-26 17:00:00,Monday
197395,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/26/2017,21:00:00,REGULAR,5554,301,2017-06-26 21:00:00,Monday
197396,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,01:00:00,REGULAR,5554,301,2017-06-27 01:00:00,Tuesday
197397,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,05:00:00,REGULAR,5554,301,2017-06-27 05:00:00,Tuesday
197398,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,09:00:00,REGULAR,5554,301,2017-06-27 09:00:00,Tuesday
197399,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,13:00:00,REGULAR,5554,301,2017-06-27 13:00:00,Tuesday
197400,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,17:00:00,REGULAR,5554,301,2017-06-27 17:00:00,Tuesday
197401,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/27/2017,21:00:00,REGULAR,5554,301,2017-06-27 21:00:00,Tuesday
197402,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,01:00:00,REGULAR,5554,301,2017-06-28 01:00:00,Wednesday
197403,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,05:00:00,REGULAR,5554,301,2017-06-28 05:00:00,Wednesday
197404,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,09:00:00,REGULAR,5554,301,2017-06-28 09:00:00,Wednesday
197405,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,13:00:00,REGULAR,5554,301,2017-06-28 13:00:00,Wednesday
197406,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,17:00:00,REGULAR,5554,301,2017-06-28 17:00:00,Wednesday
197407,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/28/2017,21:00:00,REGULAR,5554,301,2017-06-28 21:00:00,Wednesday
197408,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,01:00:00,REGULAR,5554,301,2017-06-29 01:00:00,Thursday
197409,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,05:00:00,REGULAR,5554,301,2017-06-29 05:00:00,Thursday
197410,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,09:00:00,REGULAR,5554,301,2017-06-29 09:00:00,Thursday
197411,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,13:00:00,REGULAR,5554,301,2017-06-29 13:00:00,Thursday
197412,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,17:00:00,REGULAR,5554,301,2017-06-29 17:00:00,Thursday
197413,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/29/2017,21:00:00,REGULAR,5554,301,2017-06-29 21:00:00,Thursday
197414,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,01:00:00,REGULAR,5554,301,2017-06-30 01:00:00,Friday
197415,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,05:00:00,REGULAR,5554,301,2017-06-30 05:00:00,Friday
197416,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,07:17:19,REGULAR,5554,301,2017-06-30 07:17:19,Friday
197417,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,09:00:00,REGULAR,5554,301,2017-06-30 09:00:00,Friday
197418,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,13:00:00,REGULAR,5554,301,2017-06-30 13:00:00,Friday
197419,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,17:00:00,REGULAR,5554,301,2017-06-30 17:00:00,Friday
197420,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/30/2017,21:00:00,REGULAR,5554,301,2017-06-30 21:00:00,Friday

In [162]:
#Create new dataframe that has highest average traffic per day of the week. df3
df3 = df2.copy(deep = True)
df3 = df3.drop(["LINENAME", "DIVISION", "DESC"], axis=1, errors="ignore")

In [163]:
df3.head(15)

,C/A,UNIT,SCP,STATION,DATE,TIME,ENTRIES,EXITS,DATE_TIME,DAY_OF_THE_WEEK
0,A002,R051,02-00-00,59 ST,12/31/2016,03:00:00,5991546,2028378,2016-12-31 03:00:00,Saturday
1,A002,R051,02-00-00,59 ST,12/31/2016,07:00:00,5991565,2028389,2016-12-31 07:00:00,Saturday
2,A002,R051,02-00-00,59 ST,12/31/2016,11:00:00,5991644,2028441,2016-12-31 11:00:00,Saturday
3,A002,R051,02-00-00,59 ST,12/31/2016,15:00:00,5991971,2028502,2016-12-31 15:00:00,Saturday
4,A002,R051,02-00-00,59 ST,12/31/2016,19:00:00,5992418,2028543,2016-12-31 19:00:00,Saturday
5,A002,R051,02-00-00,59 ST,12/31/2016,23:00:00,5992638,2028572,2016-12-31 23:00:00,Saturday
6,A002,R051,02-00-00,59 ST,01/01/2017,03:00:00,5992718,2028585,2017-01-01 03:00:00,Sunday
7,A002,R051,02-00-00,59 ST,01/01/2017,07:00:00,5992730,2028594,2017-01-01 07:00:00,Sunday
8,A002,R051,02-00-00,59 ST,01/01/2017,11:00:00,5992776,2028636,2017-01-01 11:00:00,Sunday
9,A002,R051,02-00-00,59 ST,01/01/2017,15:00:00,5992980,2028680,2017-01-01 15:00:00,Sunday
10,A002,R051,02-00-00,59 ST,01/01/2017,19:00:00,5993301,2028728,2017-01-01 19:00:00,Sunday
11,A002,R051,02-00-00,59 ST,01/01/2017,23:00:00,5993515,2028750,2017-01-01 23:00:00,Sunday
12,A002,R051,02-00-00,59 ST,01/02/2017,03:00:00,5993559,2028754,2017-01-02 03:00:00,Monday
13,A002,R051,02-00-00,59 ST,01/02/2017,07:00:00,5993571,2028771,2017-01-02 07:00:00,Monday
14,A002,R051,02-00-00,59 ST,01/02/2017,11:00:00,5993659,2028883,2017-01-02 11:00:00,Monday

In [164]:
df_entries = (df3
                        .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False)
                        .ENTRIES.first())

In [165]:
df_entries

          C/A  UNIT       SCP        STATION        DATE  ENTRIES
0        A002  R051  02-00-00          59 ST  01/01/2017  5992718
1        A002  R051  02-00-00          59 ST  01/02/2017  5993559
2        A002  R051  02-00-00          59 ST  01/03/2017  5994505
3        A002  R051  02-00-00          59 ST  01/04/2017  5996263
4        A002  R051  02-00-00          59 ST  01/05/2017  5997901
5        A002  R051  02-00-00          59 ST  01/06/2017  5999649
6        A002  R051  02-00-00          59 ST  01/07/2017  6001323
7        A002  R051  02-00-00          59 ST  01/08/2017  6002166
8        A002  R051  02-00-00          59 ST  01/09/2017  6002761
9        A002  R051  02-00-00          59 ST  01/10/2017  6003797
10       A002  R051  02-00-00          59 ST  01/11/2017  6004557
11       A002  R051  02-00-00          59 ST  01/12/2017  6006153
12       A002  R051  02-00-00          59 ST  01/13/2017  6007777
13       A002  R051  02-00-00          59 ST  01/14/2017  6009241
14       A002  R051  02-00-00          59 ST  01/15/2017  6010051
15       A002  R051  02-00-00          59 ST  01/16/2017  6010756
16       A002  R051  02-00-00          59 ST  01/17/2017  6011828
17       A002  R051  02-00-00          59 ST  01/18/2017  6013340
18       A002  R051  02-00-00          59 ST  01/19/2017  6014983
19       A002  R051  02-00-00          59 ST  01/20/2017  6016544
20       A002  R051  02-00-00          59 ST  01/21/2017  6018091
21       A002  R051  02-00-00          59 ST  01/22/2017  6019370
22       A002  R051  02-00-00          59 ST  01/23/2017  6019977
23       A002  R051  02-00-00          59 ST  01/24/2017  6021361
24       A002  R051  02-00-00          59 ST  01/25/2017  6022760
25       A002  R051  02-00-00          59 ST  01/26/2017  6024303
26       A002  R051  02-00-00          59 ST  01/27/2017  6025927
27       A002  R051  02-00-00          59 ST  01/28/2017  6027537
28       A002  R051  02-00-00          59 ST  01/29/2017  6028450
29       A002  R051  02-00-00          59 ST  01/30/2017  6029117
...       ...   ...       ...            ...         ...      ...
849210  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/02/2017     5554
849211  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/03/2017     5554
849212  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/04/2017     5554
849213  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/05/2017     5554
849214  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/06/2017     5554
849215  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/07/2017     5554
849216  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/08/2017     5554
849217  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/09/2017     5554
849218  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/10/2017     5554
849219  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/11/2017     5554
849220  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/12/2017     5554
849221  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/13/2017     5554
849222  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/14/2017     5554
849223  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/15/2017     5554
849224  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/16/2017     5554
849225  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/17/2017     5554
849226  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/18/2017     5554
849227  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/19/2017     5554
849228  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/20/2017     5554
849229  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/21/2017     5554
849230  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/22/2017     5554
849231  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/23/2017     5554
849232  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/24/2017     5554
849233  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/25/2017     5554
849234  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/26/2017     5554
849235  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/27/2017     5554
849236  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/28/2017     5554
849237  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/29/2017     5554
849238  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/30/2017     5554
849239  TRAM2  R469  00-05-01  RIT-ROOSEVELT  12/31/2016     5554

[849240 rows x 6 columns]

In [166]:
df_exits = (df3
                        .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE"],as_index=False)
                        .EXITS.first())

In [167]:
df_exits

          C/A  UNIT       SCP        STATION        DATE    EXITS
0        A002  R051  02-00-00          59 ST  01/01/2017  2028585
1        A002  R051  02-00-00          59 ST  01/02/2017  2028754
2        A002  R051  02-00-00          59 ST  01/03/2017  2029072
3        A002  R051  02-00-00          59 ST  01/04/2017  2029669
4        A002  R051  02-00-00          59 ST  01/05/2017  2030268
5        A002  R051  02-00-00          59 ST  01/06/2017  2030884
6        A002  R051  02-00-00          59 ST  01/07/2017  2031530
7        A002  R051  02-00-00          59 ST  01/08/2017  2031820
8        A002  R051  02-00-00          59 ST  01/09/2017  2032068
9        A002  R051  02-00-00          59 ST  01/10/2017  2032688
10       A002  R051  02-00-00          59 ST  01/11/2017  2033287
11       A002  R051  02-00-00          59 ST  01/12/2017  2033908
12       A002  R051  02-00-00          59 ST  01/13/2017  2034519
13       A002  R051  02-00-00          59 ST  01/14/2017  2035096
14       A002  R051  02-00-00          59 ST  01/15/2017  2035386
15       A002  R051  02-00-00          59 ST  01/16/2017  2035593
16       A002  R051  02-00-00          59 ST  01/17/2017  2036031
17       A002  R051  02-00-00          59 ST  01/18/2017  2036622
18       A002  R051  02-00-00          59 ST  01/19/2017  2037250
19       A002  R051  02-00-00          59 ST  01/20/2017  2037894
20       A002  R051  02-00-00          59 ST  01/21/2017  2038517
21       A002  R051  02-00-00          59 ST  01/22/2017  2038907
22       A002  R051  02-00-00          59 ST  01/23/2017  2039172
23       A002  R051  02-00-00          59 ST  01/24/2017  2039768
24       A002  R051  02-00-00          59 ST  01/25/2017  2040396
25       A002  R051  02-00-00          59 ST  01/26/2017  2040933
26       A002  R051  02-00-00          59 ST  01/27/2017  2041504
27       A002  R051  02-00-00          59 ST  01/28/2017  2042054
28       A002  R051  02-00-00          59 ST  01/29/2017  2042383
29       A002  R051  02-00-00          59 ST  01/30/2017  2042641
...       ...   ...       ...            ...         ...      ...
849210  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/02/2017      299
849211  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/03/2017      299
849212  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/04/2017      299
849213  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/05/2017      299
849214  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/06/2017      299
849215  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/07/2017      299
849216  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/08/2017      299
849217  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/09/2017      299
849218  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/10/2017      299
849219  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/11/2017      299
849220  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/12/2017      299
849221  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/13/2017      299
849222  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/14/2017      299
849223  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/15/2017      299
849224  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/16/2017      299
849225  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/17/2017      299
849226  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/18/2017      299
849227  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/19/2017      301
849228  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/20/2017      301
849229  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/21/2017      301
849230  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/22/2017      301
849231  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/23/2017      301
849232  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/24/2017      301
849233  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/25/2017      301
849234  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/26/2017      301
849235  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/27/2017      301
849236  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/28/2017      301
849237  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/29/2017      301
849238  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/30/2017      301
849239  TRAM2  R469  00-05-01  RIT-ROOSEVELT  12/31/2016      283

[849240 rows x 6 columns]

In [168]:
#combind entries and exits data frames

In [169]:
df_joined = pd.merge(df_entries, df_exits, on=('C/A', 'UNIT', 'STATION', 'SCP', 'DATE'))

In [170]:
df_joined

          C/A  UNIT       SCP        STATION        DATE  ENTRIES    EXITS
0        A002  R051  02-00-00          59 ST  01/01/2017  5992718  2028585
1        A002  R051  02-00-00          59 ST  01/02/2017  5993559  2028754
2        A002  R051  02-00-00          59 ST  01/03/2017  5994505  2029072
3        A002  R051  02-00-00          59 ST  01/04/2017  5996263  2029669
4        A002  R051  02-00-00          59 ST  01/05/2017  5997901  2030268
5        A002  R051  02-00-00          59 ST  01/06/2017  5999649  2030884
6        A002  R051  02-00-00          59 ST  01/07/2017  6001323  2031530
7        A002  R051  02-00-00          59 ST  01/08/2017  6002166  2031820
8        A002  R051  02-00-00          59 ST  01/09/2017  6002761  2032068
9        A002  R051  02-00-00          59 ST  01/10/2017  6003797  2032688
10       A002  R051  02-00-00          59 ST  01/11/2017  6004557  2033287
11       A002  R051  02-00-00          59 ST  01/12/2017  6006153  2033908
12       A002  R051  02-00-00          59 ST  01/13/2017  6007777  2034519
13       A002  R051  02-00-00          59 ST  01/14/2017  6009241  2035096
14       A002  R051  02-00-00          59 ST  01/15/2017  6010051  2035386
15       A002  R051  02-00-00          59 ST  01/16/2017  6010756  2035593
16       A002  R051  02-00-00          59 ST  01/17/2017  6011828  2036031
17       A002  R051  02-00-00          59 ST  01/18/2017  6013340  2036622
18       A002  R051  02-00-00          59 ST  01/19/2017  6014983  2037250
19       A002  R051  02-00-00          59 ST  01/20/2017  6016544  2037894
20       A002  R051  02-00-00          59 ST  01/21/2017  6018091  2038517
21       A002  R051  02-00-00          59 ST  01/22/2017  6019370  2038907
22       A002  R051  02-00-00          59 ST  01/23/2017  6019977  2039172
23       A002  R051  02-00-00          59 ST  01/24/2017  6021361  2039768
24       A002  R051  02-00-00          59 ST  01/25/2017  6022760  2040396
25       A002  R051  02-00-00          59 ST  01/26/2017  6024303  2040933
26       A002  R051  02-00-00          59 ST  01/27/2017  6025927  2041504
27       A002  R051  02-00-00          59 ST  01/28/2017  6027537  2042054
28       A002  R051  02-00-00          59 ST  01/29/2017  6028450  2042383
29       A002  R051  02-00-00          59 ST  01/30/2017  6029117  2042641
...       ...   ...       ...            ...         ...      ...      ...
849210  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/02/2017     5554      299
849211  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/03/2017     5554      299
849212  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/04/2017     5554      299
849213  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/05/2017     5554      299
849214  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/06/2017     5554      299
849215  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/07/2017     5554      299
849216  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/08/2017     5554      299
849217  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/09/2017     5554      299
849218  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/10/2017     5554      299
849219  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/11/2017     5554      299
849220  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/12/2017     5554      299
849221  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/13/2017     5554      299
849222  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/14/2017     5554      299
849223  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/15/2017     5554      299
849224  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/16/2017     5554      299
849225  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/17/2017     5554      299
849226  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/18/2017     5554      299
849227  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/19/2017     5554      301
849228  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/20/2017     5554      301
849229  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/21/2017     5554      301
849230  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/22/2017     5554      301
849231  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/23/2017     5554      301
849232  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/24/2017     5554      301
849233  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/25/2017     5554      301
849234  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/26/2017     5554      301
849235  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/27/2017     5554      301
849236  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/28/2017     5554      301
849237  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/29/2017     5554      301
849238  TRAM2  R469  00-05-01  RIT-ROOSEVELT  06/30/2017     5554      301
849239  TRAM2  R469  00-05-01  RIT-ROOSEVELT  12/31/2016     5554      283

[849240 rows x 7 columns]

In [171]:
#include datetime column again
df_joined["DATE_TIME"] = pd.to_datetime(df_joined.DATE, 
                                            format="%m/%d/%Y")

In [172]:
df_joined

,C/A,UNIT,SCP,STATION,DATE,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,01/01/2017,5992718,2028585,2017-01-01
1,A002,R051,02-00-00,59 ST,01/02/2017,5993559,2028754,2017-01-02
2,A002,R051,02-00-00,59 ST,01/03/2017,5994505,2029072,2017-01-03
3,A002,R051,02-00-00,59 ST,01/04/2017,5996263,2029669,2017-01-04
4,A002,R051,02-00-00,59 ST,01/05/2017,5997901,2030268,2017-01-05
5,A002,R051,02-00-00,59 ST,01/06/2017,5999649,2030884,2017-01-06
6,A002,R051,02-00-00,59 ST,01/07/2017,6001323,2031530,2017-01-07
7,A002,R051,02-00-00,59 ST,01/08/2017,6002166,2031820,2017-01-08
8,A002,R051,02-00-00,59 ST,01/09/2017,6002761,2032068,2017-01-09
9,A002,R051,02-00-00,59 ST,01/10/2017,6003797,2032688,2017-01-10
10,A002,R051,02-00-00,59 ST,01/11/2017,6004557,2033287,2017-01-11
11,A002,R051,02-00-00,59 ST,01/12/2017,6006153,2033908,2017-01-12
12,A002,R051,02-00-00,59 ST,01/13/2017,6007777,2034519,2017-01-13
13,A002,R051,02-00-00,59 ST,01/14/2017,6009241,2035096,2017-01-14
14,A002,R051,02-00-00,59 ST,01/15/2017,6010051,2035386,2017-01-15
15,A002,R051,02-00-00,59 ST,01/16/2017,6010756,2035593,2017-01-16
16,A002,R051,02-00-00,59 ST,01/17/2017,6011828,2036031,2017-01-17
17,A002,R051,02-00-00,59 ST,01/18/2017,6013340,2036622,2017-01-18
18,A002,R051,02-00-00,59 ST,01/19/2017,6014983,2037250,2017-01-19
19,A002,R051,02-00-00,59 ST,01/20/2017,6016544,2037894,2017-01-20
20,A002,R051,02-00-00,59 ST,01/21/2017,6018091,2038517,2017-01-21
21,A002,R051,02-00-00,59 ST,01/22/2017,6019370,2038907,2017-01-22
22,A002,R051,02-00-00,59 ST,01/23/2017,6019977,2039172,2017-01-23
23,A002,R051,02-00-00,59 ST,01/24/2017,6021361,2039768,2017-01-24
24,A002,R051,02-00-00,59 ST,01/25/2017,6022760,2040396,2017-01-25
25,A002,R051,02-00-00,59 ST,01/26/2017,6024303,2040933,2017-01-26
26,A002,R051,02-00-00,59 ST,01/27/2017,6025927,2041504,2017-01-27
27,A002,R051,02-00-00,59 ST,01/28/2017,6027537,2042054,2017-01-28
28,A002,R051,02-00-00,59 ST,01/29/2017,6028450,2042383,2017-01-29
29,A002,R051,02-00-00,59 ST,01/30/2017,6029117,2042641,2017-01-30
...,...,...,...,...,...,...,...,...
849210,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/02/2017,5554,299,2017-06-02
849211,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/03/2017,5554,299,2017-06-03
849212,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/04/2017,5554,299,2017-06-04
849213,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/05/2017,5554,299,2017-06-05
849214,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/06/2017,5554,299,2017-06-06
849215,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/07/2017,5554,299,2017-06-07
849216,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/08/2017,5554,299,2017-06-08
849217,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/09/2017,5554,299,2017-06-09
849218,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/10/2017,5554,299,2017-06-10
849219,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/11/2017,5554,299,2017-06-11
849220,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/12/2017,5554,299,2017-06-12
849221,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/13/2017,5554,299,2017-06-13
849222,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/14/2017,5554,299,2017-06-14
849223,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/15/2017,5554,299,2017-06-15
849224,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/16/2017,5554,299,2017-06-16
849225,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/17/2017,5554,299,2017-06-17
849226,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/18/2017,5554,299,2017-06-18
849227,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/19/2017,5554,301,2017-06-19
849228,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/20/2017,5554,301,2017-06-20
849229,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/21/2017,5554,301,2017-06-21
849230,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/22/2017,5554,301,2017-06-22
849231,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/23/2017,5554,301,2017-06-23
849232,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/24/2017,5554,301,2017-06-24
849233,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/25/2017,5554,301,2017-06-25
849234,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/26/2017,5554,301,2017-06-26
849235,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/27/2017,5554,301,2017-06-27
849236,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/28/2017,5554,301,2017-06-28
849237,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/29/2017,5554,301,2017-06-29
849238,TRAM2,R469,00-05-01,RIT-ROOSEVELT,06/30/2017,5554,301,2017-06-30
849239,TRAM2,R469,00-05-01,RIT-ROOSEVELT,12/31/2016,5554,283,2016-12-31

In [173]:
df_joined = (df_joined
                        .groupby(["C/A", "UNIT", "SCP", "STATION", "DATE_TIME", "EXITS"],as_index=False)
                        .ENTRIES.first())

In [174]:
df_joined

          C/A  UNIT       SCP        STATION  DATE_TIME    EXITS  ENTRIES
0        A002  R051  02-00-00          59 ST 2016-12-31  2028378  5991546
1        A002  R051  02-00-00          59 ST 2017-01-01  2028585  5992718
2        A002  R051  02-00-00          59 ST 2017-01-02  2028754  5993559
3        A002  R051  02-00-00          59 ST 2017-01-03  2029072  5994505
4        A002  R051  02-00-00          59 ST 2017-01-04  2029669  5996263
5        A002  R051  02-00-00          59 ST 2017-01-05  2030268  5997901
6        A002  R051  02-00-00          59 ST 2017-01-06  2030884  5999649
7        A002  R051  02-00-00          59 ST 2017-01-07  2031530  6001323
8        A002  R051  02-00-00          59 ST 2017-01-08  2031820  6002166
9        A002  R051  02-00-00          59 ST 2017-01-09  2032068  6002761
10       A002  R051  02-00-00          59 ST 2017-01-10  2032688  6003797
11       A002  R051  02-00-00          59 ST 2017-01-11  2033287  6004557
12       A002  R051  02-00-00          59 ST 2017-01-12  2033908  6006153
13       A002  R051  02-00-00          59 ST 2017-01-13  2034519  6007777
14       A002  R051  02-00-00          59 ST 2017-01-14  2035096  6009241
15       A002  R051  02-00-00          59 ST 2017-01-15  2035386  6010051
16       A002  R051  02-00-00          59 ST 2017-01-16  2035593  6010756
17       A002  R051  02-00-00          59 ST 2017-01-17  2036031  6011828
18       A002  R051  02-00-00          59 ST 2017-01-18  2036622  6013340
19       A002  R051  02-00-00          59 ST 2017-01-19  2037250  6014983
20       A002  R051  02-00-00          59 ST 2017-01-20  2037894  6016544
21       A002  R051  02-00-00          59 ST 2017-01-21  2038517  6018091
22       A002  R051  02-00-00          59 ST 2017-01-22  2038907  6019370
23       A002  R051  02-00-00          59 ST 2017-01-23  2039172  6019977
24       A002  R051  02-00-00          59 ST 2017-01-24  2039768  6021361
25       A002  R051  02-00-00          59 ST 2017-01-25  2040396  6022760
26       A002  R051  02-00-00          59 ST 2017-01-26  2040933  6024303
27       A002  R051  02-00-00          59 ST 2017-01-27  2041504  6025927
28       A002  R051  02-00-00          59 ST 2017-01-28  2042054  6027537
29       A002  R051  02-00-00          59 ST 2017-01-29  2042383  6028450
...       ...   ...       ...            ...        ...      ...      ...
849210  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-01      299     5554
849211  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-02      299     5554
849212  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-03      299     5554
849213  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-04      299     5554
849214  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-05      299     5554
849215  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-06      299     5554
849216  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-07      299     5554
849217  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-08      299     5554
849218  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-09      299     5554
849219  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-10      299     5554
849220  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-11      299     5554
849221  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-12      299     5554
849222  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-13      299     5554
849223  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-14      299     5554
849224  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-15      299     5554
849225  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-16      299     5554
849226  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-17      299     5554
849227  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-18      299     5554
849228  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-19      301     5554
849229  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-20      301     5554
849230  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-21      301     5554
849231  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-22      301     5554
849232  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-23      301     5554
849233  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-24      301     5554
849234  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-25      301     5554
849235  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-26      301     5554
849236  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-27      301     5554
849237  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-28      301     5554
849238  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-29      301     5554
849239  TRAM2  R469  00-05-01  RIT-ROOSEVELT 2017-06-30      301     5554

[849240 rows x 7 columns]

In [178]:
df_joined[["PREV_DATE", "PREV_ENTRIES", "PREV_EXITS"]] = (df_joined
                                                       .groupby(["C/A", "UNIT", "SCP", "STATION"])["DATE_TIME", "ENTRIES", "EXITS"]
                                                       .transform(lambda grp: grp.shift(1)))

In [180]:
df_joined.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [181]:
df_joined

,C/A,UNIT,SCP,STATION,DATE_TIME,EXITS,ENTRIES,PREV_DATE,PREV_ENTRIES,PREV_EXITS
1,A002,R051,02-00-00,59 ST,2017-01-01,2028585,5992718,2016-12-31,5991546.0,2028378.0
2,A002,R051,02-00-00,59 ST,2017-01-02,2028754,5993559,2017-01-01,5992718.0,2028585.0
3,A002,R051,02-00-00,59 ST,2017-01-03,2029072,5994505,2017-01-02,5993559.0,2028754.0
4,A002,R051,02-00-00,59 ST,2017-01-04,2029669,5996263,2017-01-03,5994505.0,2029072.0
5,A002,R051,02-00-00,59 ST,2017-01-05,2030268,5997901,2017-01-04,5996263.0,2029669.0
6,A002,R051,02-00-00,59 ST,2017-01-06,2030884,5999649,2017-01-05,5997901.0,2030268.0
7,A002,R051,02-00-00,59 ST,2017-01-07,2031530,6001323,2017-01-06,5999649.0,2030884.0
8,A002,R051,02-00-00,59 ST,2017-01-08,2031820,6002166,2017-01-07,6001323.0,2031530.0
9,A002,R051,02-00-00,59 ST,2017-01-09,2032068,6002761,2017-01-08,6002166.0,2031820.0
10,A002,R051,02-00-00,59 ST,2017-01-10,2032688,6003797,2017-01-09,6002761.0,2032068.0
11,A002,R051,02-00-00,59 ST,2017-01-11,2033287,6004557,2017-01-10,6003797.0,2032688.0
12,A002,R051,02-00-00,59 ST,2017-01-12,2033908,6006153,2017-01-11,6004557.0,2033287.0
13,A002,R051,02-00-00,59 ST,2017-01-13,2034519,6007777,2017-01-12,6006153.0,2033908.0
14,A002,R051,02-00-00,59 ST,2017-01-14,2035096,6009241,2017-01-13,6007777.0,2034519.0
15,A002,R051,02-00-00,59 ST,2017-01-15,2035386,6010051,2017-01-14,6009241.0,2035096.0
16,A002,R051,02-00-00,59 ST,2017-01-16,2035593,6010756,2017-01-15,6010051.0,2035386.0
17,A002,R051,02-00-00,59 ST,2017-01-17,2036031,6011828,2017-01-16,6010756.0,2035593.0
18,A002,R051,02-00-00,59 ST,2017-01-18,2036622,6013340,2017-01-17,6011828.0,2036031.0
19,A002,R051,02-00-00,59 ST,2017-01-19,2037250,6014983,2017-01-18,6013340.0,2036622.0
20,A002,R051,02-00-00,59 ST,2017-01-20,2037894,6016544,2017-01-19,6014983.0,2037250.0
21,A002,R051,02-00-00,59 ST,2017-01-21,2038517,6018091,2017-01-20,6016544.0,2037894.0
22,A002,R051,02-00-00,59 ST,2017-01-22,2038907,6019370,2017-01-21,6018091.0,2038517.0
23,A002,R051,02-00-00,59 ST,2017-01-23,2039172,6019977,2017-01-22,6019370.0,2038907.0
24,A002,R051,02-00-00,59 ST,2017-01-24,2039768,6021361,2017-01-23,6019977.0,2039172.0
25,A002,R051,02-00-00,59 ST,2017-01-25,2040396,6022760,2017-01-24,6021361.0,2039768.0
26,A002,R051,02-00-00,59 ST,2017-01-26,2040933,6024303,2017-01-25,6022760.0,2040396.0
27,A002,R051,02-00-00,59 ST,2017-01-27,2041504,6025927,2017-01-26,6024303.0,2040933.0
28,A002,R051,02-00-00,59 ST,2017-01-28,2042054,6027537,2017-01-27,6025927.0,2041504.0
29,A002,R051,02-00-00,59 ST,2017-01-29,2042383,6028450,2017-01-28,6027537.0,2042054.0
30,A002,R051,02-00-00,59 ST,2017-01-30,2042641,6029117,2017-01-29,6028450.0,2042383.0
...,...,...,...,...,...,...,...,...,...,...
849210,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-01,299,5554,2017-05-31,5554.0,299.0
849211,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-02,299,5554,2017-06-01,5554.0,299.0
849212,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-03,299,5554,2017-06-02,5554.0,299.0
849213,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-04,299,5554,2017-06-03,5554.0,299.0
849214,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-05,299,5554,2017-06-04,5554.0,299.0
849215,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-06,299,5554,2017-06-05,5554.0,299.0
849216,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-07,299,5554,2017-06-06,5554.0,299.0
849217,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-08,299,5554,2017-06-07,5554.0,299.0
849218,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-09,299,5554,2017-06-08,5554.0,299.0
849219,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-10,299,5554,2017-06-09,5554.0,299.0
849220,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-11,299,5554,2017-06-10,5554.0,299.0
849221,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-12,299,5554,2017-06-11,5554.0,299.0
849222,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-13,299,5554,2017-06-12,5554.0,299.0
849223,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-14,299,5554,2017-06-13,5554.0,299.0
849224,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-15,299,5554,2017-06-14,5554.0,299.0
849225,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-16,299,5554,2017-06-15,5554.0,299.0
849226,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-17,299,5554,2017-06-16,5554.0,299.0
849227,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-18,299,5554,2017-06-17,5554.0,299.0
849228,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-19,301,5554,2017-06-18,5554.0,299.0
849229,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-20,301,5554,2017-06-19,5554.0,301.0
849230,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-21,301,5554,2017-06-20,5554.0,301.0
849231,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-22,301,5554,2017-06-21,5554.0,301.0
849232,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-23,301,5554,2017-06-22,5554.0,301.0
849233,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-24,301,5554,2017-06-23,5554.0,301.0
849234,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-25,301,5554,2017-06-24,5554.0,301.0
849235,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-26,301,5554,2017-06-25,5554.0,301.0
849236,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-27,301,5554,2017-06-26,5554.0,301.0
849237,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-28,301,5554,2017-06-27,5554.0,301.0
849238,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-29,301,5554,2017-06-28,5554.0,301.0
849239,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-30,301,5554,2017-06-29,5554.0,301.0

In [194]:
df4 = df_joined.copy(deep = True)

In [195]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row["ENTRIES"], row["PREV_ENTRIES"])
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
_ = df4.apply(get_daily_counts, axis=1, max_counter=1000000)

5439872 7807235.0
1241453459 11978209.0
2173 10201560.0
67108981 135340.0
1810 1272207.0
100664284 3701657.0
1429 100727135.0
67108864 832.0
262912 67108865.0
100663301 262912.0
418 100838481.0
1043 1036409.0
1745 1431254.0
117440664 2163397.0
24 2605926.0
4513770 299173.0
1567691605 1624939.0
87 4607298.0
16796133 61130.0
152 16796133.0
242 2026180.0
2843 6926368.0
419299435 285113520.0
285016014 419273590.0
153 284994405.0
30 8186672.0
2031090592 10515250.0
117484830 471282.0
458752 4773394.0
1946191240 7661697.0
67602686 117723384.0
291 7586136.0
1627414719 6389847.0
1582 11823540.0
838882067 3322993.0
1039 7009645.0
2007 2945113.0
376 7896940.0
150994944 66.0
68 150994944.0
1819 1849650.0
1795 17545676.0
245 5439401.0
1053 3315326.0
262186 6576434.0
2580 9417390.0
67109041 546902.0
117440541 67109932.0
208 117440541.0
2039 4117180.0
150995246 892531.0
2130669175 8476560.0
1825 1111672.0
117440740 838749.0
2048 2741762.0
1157637840 4565176.0
3196 1712913.0
1902 10051252.0
2264 5243361.0
533 12165851.0
824640036 7075414.0
189 1852687.0
117440512 0.0
134217783 3217.0
928 1538991.0
100663785 9050.0
19 137111494.0
83942698 381404.0
40 83950540.0
121 1207712.0
2157 2341614.0
33554859 3050267.0
112 3440785.0
645 2688426.0
100663453 11588.0
56 1946570.0
1792 8034135.0
1051 3834191.0
1048 1402337.0
720 665415359.0
301 2296560.0
439 101036197.0
3016 14182193.0
3370114 103217121.0
67109668 3369285.0
67108948 103214884.0
103219499 67108948.0
67109547 3367570.0
88 67109547.0
177 3879936.0
218 2146903.0
1802 1028634.0
4084118 102746811.0
100964404 4083526.0
4314701 100964202.0
409 4314380.0
2165 13436663.0
84110542 3409584.0
29 84145227.0
3410552 84109918.0
151025051 3463157.0
480 3292006.0
3992 11782239.0
1258284045 11897615.0
2332 19677849.0
5505031 785560.0
117440512 9966275.0
117440513 2582.0
1774 4470476.0
134217888 168420006.0
1929349661 9255532.0
67108888 3436467.0
9 3536016.0
154 1927718.0
16779156 70714.0
2252 16799876.0
1345 2445995.0
1353 1356373.0
1148 1444436.0
966 1941591.0
1140 1449005.0
443 2450544.0
1485 2296846.0
0 1757432.0
11263 1154256750.0
43 1937956.0
1096 3410129.0
1014 1855093.0
827 5449782.0
67108920 442960.0
524352 18552246.0
2055 1558883.0
2185 34755039.0
117440513 471859.0
691260128 8105279.0
1205 16661132.0
1964 7430784.0
1901 7340543.0
386 5961901.0
1754 10512337.0
14 2525693.0
354 2520625.0
2572 2567873.0
335 605785671.0
254 13531487.0
11 9700058.0
188 537737621.0
50331736 35123.0
142 50337354.0
922761061 3451.0
4 922761061.0
3051 4716454.0
1502 1158157.0
2001 9493999.0
1339 5962068.0
117440514 77.0
100710912 344667.0
674 4208067.0
13402911 1923017.0
1923044 13404371.0
0 1923044.0
17880430 3237599.0
3237649 17882503.0
2 3237649.0
1792 28533362.0
4499664 1792.0
19631 32611547.0
1923044 13399967.0
3237649 17877102.0
1792 28525755.0
13404768 1768290.0
17883188 13949957.0
28534605 8317969.0
1969557 3485630.0
32611926 10326952.0
34209794 9397.0
652804099 522.0
1866 20236930.0
503286206 14838374.0
95 856595233.0
851 520746632.0
70291 19461075.0
78 8245866.0
2 134217823.0
0 117440512.0
2753001 101427118.0
810 2781038.0
7 1937633.0
3883 3329047.0
0 3926728.0
33555094 2725041.0
203686201 5738627.0
16664318 3585589.0
1141 2136626.0
67108867 888.0
201327582 1204094.0
134217746 573098.0
12069873 42219.0
0 67108864.0
224 2564994.0
111 1113322.0
335579316 1355239.0
201326717 67247793.0
119 3826851.0
117443620 19188596.0
1572880 570996.0
2494 6630221.0
1560221483 2524674.0

5439872 7807235.0
1241453459 11978209.0
2173 10201560.0
67108981 135340.0
1810 1272207.0
100664284 3701657.0
1429 100727135.0
67108864 832.0
262912 67108865.0
100663301 262912.0
418 100838481.0
1043 1036409.0
1745 1431254.0
117440664 2163397.0
24 2605926.0
4513770 299173.0
1567691605 1624939.0
87 4607298.0
16796133 61130.0
152 16796133.0
242 2026180.0
2843 6926368.0
419299435 285113520.0
285016014 419273590.0
153 284994405.0
30 8186672.0
2031090592 10515250.0
117484830 471282.0
458752 4773394.0
1946191240 7661697.0
67602686 117723384.0
291 7586136.0
1627414719 6389847.0
1582 11823540.0
838882067 3322993.0
1039 7009645.0
2007 2945113.0
376 7896940.0
150994944 66.0
68 150994944.0
1819 1849650.0
1795 17545676.0
245 5439401.0
1053 3315326.0
262186 6576434.0
2580 9417390.0
67109041 546902.0
117440541 67109932.0
208 117440541.0
2039 4117180.0
150995246 892531.0
2130669175 8476560.0
1825 1111672.0
117440740 838749.0
2048 2741762.0
1157637840 4565176.0
3196 1712913.0
1902 10051252.0
2264 5243361.0
533 12165851.0
824640036 7075414.0
189 1852687.0
117440512 0.0
134217783 3217.0
928 1538991.0
100663785 9050.0
19 137111494.0
83942698 381404.0
40 83950540.0
121 1207712.0
2157 2341614.0
33554859 3050267.0
112 3440785.0
645 2688426.0
100663453 11588.0
56 1946570.0
1792 8034135.0
1051 3834191.0
1048 1402337.0
720 665415359.0
301 2296560.0
439 101036197.0
3016 14182193.0
3370114 103217121.0
67109668 3369285.0
67108948 103214884.0
103219499 67108948.0
67109547 3367570.0
88 67109547.0
177 3879936.0
218 2146903.0
1802 1028634.0
4084118 102746811.0
100964404 4083526.0
4314701 100964202.0
409 4314380.0
2165 13436663.0
84110542 3409584.0
29 84145227.0
3410552 84109918.0
151025051 3463157.0
480 3292006.0
3992 11782239.0
1258284045 11897615.0
2332 19677849.0
5505031 785560.0
117440512 9966275.0
117440513 2582.0
1774 4470476.0
134217888 168420006.0
1929349661 9255532.0
67108888 3436467.0
9 3536016.0
154 1927718.0
16779156 70714.0
2252 16799876.0
1345 2445995.0
1353 1356373.0
1148 1444436.0
966 1941591.0
1140 1449005.0
443 2450544.0
1485 2296846.0
0 1757432.0
11263 1154256750.0
43 1937956.0
1096 3410129.0
1014 1855093.0
827 5449782.0
67108920 442960.0
524352 18552246.0
2055 1558883.0
2185 34755039.0
117440513 471859.0
691260128 8105279.0
1205 16661132.0
1964 7430784.0
1901 7340543.0
386 5961901.0
1754 10512337.0
14 2525693.0
354 2520625.0
2572 2567873.0
335 605785671.0
254 13531487.0
11 9700058.0
188 537737621.0
50331736 35123.0
142 50337354.0
922761061 3451.0
4 922761061.0
3051 4716454.0
1502 1158157.0
2001 9493999.0
1339 5962068.0
117440514 77.0
100710912 344667.0
674 4208067.0
13402911 1923017.0
1923044 13404371.0
0 1923044.0
17880430 3237599.0
3237649 17882503.0
2 3237649.0
1792 28533362.0
4499664 1792.0
19631 32611547.0
1923044 13399967.0
3237649 17877102.0
1792 28525755.0
13404768 1768290.0
17883188 13949957.0
28534605 8317969.0
1969557 3485630.0
32611926 10326952.0
34209794 9397.0
652804099 522.0
1866 20236930.0
503286206 14838374.0
95 856595233.0
851 520746632.0
70291 19461075.0
78 8245866.0
2 134217823.0
0 117440512.0
2753001 101427118.0
810 2781038.0
7 1937633.0
3883 3329047.0
0 3926728.0
33555094 2725041.0
203686201 5738627.0
16664318 3585589.0
1141 2136626.0
67108867 888.0
201327582 1204094.0
134217746 573098.0
12069873 42219.0
0 67108864.0
224 2564994.0
111 1113322.0
335579316 1355239.0
201326717 67247793.0
119 3826851.0
117443620 19188596.0
1572880 570996.0
2494 6630221.0
1560221483 2524674.0

In [197]:
df4

,C/A,UNIT,SCP,STATION,DATE_TIME,EXITS,ENTRIES,PREV_DATE,PREV_ENTRIES,PREV_EXITS,DAILY_ENTRIES
1,A002,R051,02-00-00,59 ST,2017-01-01,2028585,5992718,2016-12-31,5991546.0,2028378.0,1172.0
2,A002,R051,02-00-00,59 ST,2017-01-02,2028754,5993559,2017-01-01,5992718.0,2028585.0,841.0
3,A002,R051,02-00-00,59 ST,2017-01-03,2029072,5994505,2017-01-02,5993559.0,2028754.0,946.0
4,A002,R051,02-00-00,59 ST,2017-01-04,2029669,5996263,2017-01-03,5994505.0,2029072.0,1758.0
5,A002,R051,02-00-00,59 ST,2017-01-05,2030268,5997901,2017-01-04,5996263.0,2029669.0,1638.0
6,A002,R051,02-00-00,59 ST,2017-01-06,2030884,5999649,2017-01-05,5997901.0,2030268.0,1748.0
7,A002,R051,02-00-00,59 ST,2017-01-07,2031530,6001323,2017-01-06,5999649.0,2030884.0,1674.0
8,A002,R051,02-00-00,59 ST,2017-01-08,2031820,6002166,2017-01-07,6001323.0,2031530.0,843.0
9,A002,R051,02-00-00,59 ST,2017-01-09,2032068,6002761,2017-01-08,6002166.0,2031820.0,595.0
10,A002,R051,02-00-00,59 ST,2017-01-10,2032688,6003797,2017-01-09,6002761.0,2032068.0,1036.0
11,A002,R051,02-00-00,59 ST,2017-01-11,2033287,6004557,2017-01-10,6003797.0,2032688.0,760.0
12,A002,R051,02-00-00,59 ST,2017-01-12,2033908,6006153,2017-01-11,6004557.0,2033287.0,1596.0
13,A002,R051,02-00-00,59 ST,2017-01-13,2034519,6007777,2017-01-12,6006153.0,2033908.0,1624.0
14,A002,R051,02-00-00,59 ST,2017-01-14,2035096,6009241,2017-01-13,6007777.0,2034519.0,1464.0
15,A002,R051,02-00-00,59 ST,2017-01-15,2035386,6010051,2017-01-14,6009241.0,2035096.0,810.0
16,A002,R051,02-00-00,59 ST,2017-01-16,2035593,6010756,2017-01-15,6010051.0,2035386.0,705.0
17,A002,R051,02-00-00,59 ST,2017-01-17,2036031,6011828,2017-01-16,6010756.0,2035593.0,1072.0
18,A002,R051,02-00-00,59 ST,2017-01-18,2036622,6013340,2017-01-17,6011828.0,2036031.0,1512.0
19,A002,R051,02-00-00,59 ST,2017-01-19,2037250,6014983,2017-01-18,6013340.0,2036622.0,1643.0
20,A002,R051,02-00-00,59 ST,2017-01-20,2037894,6016544,2017-01-19,6014983.0,2037250.0,1561.0
21,A002,R051,02-00-00,59 ST,2017-01-21,2038517,6018091,2017-01-20,6016544.0,2037894.0,1547.0
22,A002,R051,02-00-00,59 ST,2017-01-22,2038907,6019370,2017-01-21,6018091.0,2038517.0,1279.0
23,A002,R051,02-00-00,59 ST,2017-01-23,2039172,6019977,2017-01-22,6019370.0,2038907.0,607.0
24,A002,R051,02-00-00,59 ST,2017-01-24,2039768,6021361,2017-01-23,6019977.0,2039172.0,1384.0
25,A002,R051,02-00-00,59 ST,2017-01-25,2040396,6022760,2017-01-24,6021361.0,2039768.0,1399.0
26,A002,R051,02-00-00,59 ST,2017-01-26,2040933,6024303,2017-01-25,6022760.0,2040396.0,1543.0
27,A002,R051,02-00-00,59 ST,2017-01-27,2041504,6025927,2017-01-26,6024303.0,2040933.0,1624.0
28,A002,R051,02-00-00,59 ST,2017-01-28,2042054,6027537,2017-01-27,6025927.0,2041504.0,1610.0
29,A002,R051,02-00-00,59 ST,2017-01-29,2042383,6028450,2017-01-28,6027537.0,2042054.0,913.0
30,A002,R051,02-00-00,59 ST,2017-01-30,2042641,6029117,2017-01-29,6028450.0,2042383.0,667.0
...,...,...,...,...,...,...,...,...,...,...,...
849210,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-01,299,5554,2017-05-31,5554.0,299.0,0.0
849211,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-02,299,5554,2017-06-01,5554.0,299.0,0.0
849212,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-03,299,5554,2017-06-02,5554.0,299.0,0.0
849213,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-04,299,5554,2017-06-03,5554.0,299.0,0.0
849214,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-05,299,5554,2017-06-04,5554.0,299.0,0.0
849215,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-06,299,5554,2017-06-05,5554.0,299.0,0.0
849216,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-07,299,5554,2017-06-06,5554.0,299.0,0.0
849217,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-08,299,5554,2017-06-07,5554.0,299.0,0.0
849218,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-09,299,5554,2017-06-08,5554.0,299.0,0.0
849219,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-10,299,5554,2017-06-09,5554.0,299.0,0.0
849220,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-11,299,5554,2017-06-10,5554.0,299.0,0.0
849221,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-12,299,5554,2017-06-11,5554.0,299.0,0.0
849222,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-13,299,5554,2017-06-12,5554.0,299.0,0.0
849223,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-14,299,5554,2017-06-13,5554.0,299.0,0.0
849224,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-15,299,5554,2017-06-14,5554.0,299.0,0.0
849225,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-16,299,5554,2017-06-15,5554.0,299.0,0.0
849226,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-17,299,5554,2017-06-16,5554.0,299.0,0.0
849227,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-18,299,5554,2017-06-17,5554.0,299.0,0.0
849228,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-19,301,5554,2017-06-18,5554.0,299.0,0.0
849229,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-20,301,5554,2017-06-19,5554.0,301.0,0.0
849230,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-21,301,5554,2017-06-20,5554.0,301.0,0.0
849231,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-22,301,5554,2017-06-21,5554.0,301.0,0.0
849232,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-23,301,5554,2017-06-22,5554.0,301.0,0.0
849233,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-24,301,5554,2017-06-23,5554.0,301.0,0.0
849234,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-25,301,5554,2017-06-24,5554.0,301.0,0.0
849235,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-26,301,5554,2017-06-25,5554.0,301.0,0.0
849236,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-27,301,5554,2017-06-26,5554.0,301.0,0.0
849237,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-28,301,5554,2017-06-27,5554.0,301.0,0.0
849238,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-29,301,5554,2017-06-28,5554.0,301.0,0.0
849239,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-30,301,5554,2017-06-29,5554.0,301.0,0.0

In [198]:
#now try to get daily exits

In [203]:
def get_daily_exits(row, max_counter):
    counter = row["EXITS"] - row["PREV_EXITS"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        print(row["EXITS"], row["PREV_EXITS"])
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
_ = df4.apply(get_daily_exits, axis=1, max_counter=1000000)

16169351 3433288.0
33589841 144460.0
1811994842 7128274.0
402 16513099.0
16777267 63755.0
364 2919082.0
16777216 0.0
65536 16777216.0
24 16819407.0
880 18322266.0
787606359 1668788.0
15 2362499.0
251705802 52465.0
86 251705802.0
416 1874441.0
400 4704253.0
1327 1025637.0
33 1174380855.0
5 3703695.0
703462817 7907857.0
50365982 236858.0
2191 1250263.0
1358950982 11472818.0
117443000 465081.0
360 9802327.0
167780854 674759.0
2858 15848411.0
167779695 661998.0
261 6469084.0
187 2884687.0
1772 11890698.0
554 2713008.0
21 3290307.0
1 15770833.0
450 16169155.0
65662 9579902.0
394 6792034.0
16777575 88369.0
221 16780413.0
446 5400567.0
1359347712 0.0
1157596809 12300041.0
0 3658862.0
352380099 1392291.0
51 1187554.0
628 5182500.0
245 1822091.0
34 6181637.0
1907096872 8216514.0
190 1579371.0
11 1551655252.0
33592832 139629.0
207 33597437.0
323 1600603.0
107 1092850.0
0 6471847.0
408 1386797.0
247 1703784336.0
378 3333079.0
33554488 327698.0
33554448 132071.0
132210 33554448.0
33554471 327553.0
32 33554471.0
148 1555674.0
246 1698092.0
1201 13058060.0
16929519 1481381.0
24 16943320.0
1482001 16929271.0
100670573 1515686.0
35 2243045.0
806 5248898.0
2046863067 8049572.0
523 7232285.0
7 3921760.0
47 4294183.0
64 16850605.0
1543550876 6083377.0
805196466 109639.0
110821 805196466.0
16777247 1040902.0
172 1566468.0
1460 1522590.0
16820304 72649.0
1033 16841022.0
368 2335229.0
2689 1178105.0
2293 1700277.0
2167 1112069.0
1273 1519929.0
1551 1859316.0
0 2223015.0
326 1573100.0
202 1447971.0
303 1010712.0
13258 611720224.0
58 2176087.0
1100 2019702.0
78 1145496.0
16777460 135278.0
30 13094924.0
237 17403428.0
1758148378 6933979.0
708 10355196.0
192 11864522.0
125 9415583.0
473 11828259.0
3938 30253444.0
2 1692027.0
804 3805255.0
515 4591659.0
1230 1312860816.0
150 4844096.0
0 1042591.0
30 117662073.0
1291858639 14785.0
243 1291858639.0
139 1301752.0
536 9196961.0
16078 3976492.0
33612027 883836.0
76 4764630.0
4848431 12561931.0
12562195 4850973.0
0 12562196.0
1006 7504735.0
0 8694475.0
1074366 0.0
24661 7789199.0
12562197 4846839.0
0 8690045.0
4851547 2517732.0
6945260 15288614.0
8696281 6856295.0
941668 2770480.0
7790145 10987404.0
51118080 0.0
615907330 780.0
16 13894783.0
1207884807 28875973.0
21 50388727.0
237 386410821.0
610 2190553.0
68 4760678.0
47 1771023.0
640 1588860.0
838 3321048.0
580 4068672.0
1185 16966460.0
10356087 427932.0
16777216 0.0
27578798 16617.0
1 16777308.0
1196 3540746.0
840 3096184.0
436263379 1747106.0
981 3739532.0
50380087 16822746.0
199 8177414.0
100 2064492.0
338 1374229.0
1728055978 1047160.0

In [204]:
def get_daily_exits(row, max_counter):
    counter = row["EXITS"] - row["PREV_EXITS"]
    if counter < 0:
        # Maybe counter is reversed?
        counter = -counter
    if counter > max_counter:
        print(row["EXITS"], row["PREV_EXITS"])
        counter = min(row["EXITS"], row["PREV_EXITS"])
    if counter > max_counter:
        # Check it again to make sure we are not giving a counter that's too big
        return 0
    return counter

# If counter is > 1Million, then the counter might have been reset.  
# Just set it to zero as different counters have different cycle limits
df4["DAILY_EXITS"] = df4.apply(get_daily_exits, axis=1, max_counter=1000000)

16169351 3433288.0
33589841 144460.0
1811994842 7128274.0
402 16513099.0
16777267 63755.0
364 2919082.0
16777216 0.0
65536 16777216.0
24 16819407.0
880 18322266.0
787606359 1668788.0
15 2362499.0
251705802 52465.0
86 251705802.0
416 1874441.0
400 4704253.0
1327 1025637.0
33 1174380855.0
5 3703695.0
703462817 7907857.0
50365982 236858.0
2191 1250263.0
1358950982 11472818.0
117443000 465081.0
360 9802327.0
167780854 674759.0
2858 15848411.0
167779695 661998.0
261 6469084.0
187 2884687.0
1772 11890698.0
554 2713008.0
21 3290307.0
1 15770833.0
450 16169155.0
65662 9579902.0
394 6792034.0
16777575 88369.0
221 16780413.0
446 5400567.0
1359347712 0.0
1157596809 12300041.0
0 3658862.0
352380099 1392291.0
51 1187554.0
628 5182500.0
245 1822091.0
34 6181637.0
1907096872 8216514.0
190 1579371.0
11 1551655252.0
33592832 139629.0
207 33597437.0
323 1600603.0
107 1092850.0
0 6471847.0
408 1386797.0
247 1703784336.0
378 3333079.0
33554488 327698.0
33554448 132071.0
132210 33554448.0
33554471 327553.0
32 33554471.0
148 1555674.0
246 1698092.0
1201 13058060.0
16929519 1481381.0
24 16943320.0
1482001 16929271.0
100670573 1515686.0
35 2243045.0
806 5248898.0
2046863067 8049572.0
523 7232285.0
7 3921760.0
47 4294183.0
64 16850605.0
1543550876 6083377.0
805196466 109639.0
110821 805196466.0
16777247 1040902.0
172 1566468.0
1460 1522590.0
16820304 72649.0
1033 16841022.0
368 2335229.0
2689 1178105.0
2293 1700277.0
2167 1112069.0
1273 1519929.0
1551 1859316.0
0 2223015.0
326 1573100.0
202 1447971.0
303 1010712.0
13258 611720224.0
58 2176087.0
1100 2019702.0
78 1145496.0
16777460 135278.0
30 13094924.0
237 17403428.0
1758148378 6933979.0
708 10355196.0
192 11864522.0
125 9415583.0
473 11828259.0
3938 30253444.0
2 1692027.0
804 3805255.0
515 4591659.0
1230 1312860816.0
150 4844096.0
0 1042591.0
30 117662073.0
1291858639 14785.0
243 1291858639.0
139 1301752.0
536 9196961.0
16078 3976492.0
33612027 883836.0
76 4764630.0
4848431 12561931.0
12562195 4850973.0
0 12562196.0
1006 7504735.0
0 8694475.0
1074366 0.0
24661 7789199.0
12562197 4846839.0
0 8690045.0
4851547 2517732.0
6945260 15288614.0
8696281 6856295.0
941668 2770480.0
7790145 10987404.0
51118080 0.0
615907330 780.0
16 13894783.0
1207884807 28875973.0
21 50388727.0
237 386410821.0
610 2190553.0
68 4760678.0
47 1771023.0
640 1588860.0
838 3321048.0
580 4068672.0
1185 16966460.0
10356087 427932.0
16777216 0.0
27578798 16617.0
1 16777308.0
1196 3540746.0
840 3096184.0
436263379 1747106.0
981 3739532.0
50380087 16822746.0
199 8177414.0
100 2064492.0
338 1374229.0
1728055978 1047160.0

In [205]:
df4

,C/A,UNIT,SCP,STATION,DATE_TIME,EXITS,ENTRIES,PREV_DATE,PREV_ENTRIES,PREV_EXITS,DAILY_ENTRIES,DAILY_EXITS
1,A002,R051,02-00-00,59 ST,2017-01-01,2028585,5992718,2016-12-31,5991546.0,2028378.0,1172.0,207.0
2,A002,R051,02-00-00,59 ST,2017-01-02,2028754,5993559,2017-01-01,5992718.0,2028585.0,841.0,169.0
3,A002,R051,02-00-00,59 ST,2017-01-03,2029072,5994505,2017-01-02,5993559.0,2028754.0,946.0,318.0
4,A002,R051,02-00-00,59 ST,2017-01-04,2029669,5996263,2017-01-03,5994505.0,2029072.0,1758.0,597.0
5,A002,R051,02-00-00,59 ST,2017-01-05,2030268,5997901,2017-01-04,5996263.0,2029669.0,1638.0,599.0
6,A002,R051,02-00-00,59 ST,2017-01-06,2030884,5999649,2017-01-05,5997901.0,2030268.0,1748.0,616.0
7,A002,R051,02-00-00,59 ST,2017-01-07,2031530,6001323,2017-01-06,5999649.0,2030884.0,1674.0,646.0
8,A002,R051,02-00-00,59 ST,2017-01-08,2031820,6002166,2017-01-07,6001323.0,2031530.0,843.0,290.0
9,A002,R051,02-00-00,59 ST,2017-01-09,2032068,6002761,2017-01-08,6002166.0,2031820.0,595.0,248.0
10,A002,R051,02-00-00,59 ST,2017-01-10,2032688,6003797,2017-01-09,6002761.0,2032068.0,1036.0,620.0
11,A002,R051,02-00-00,59 ST,2017-01-11,2033287,6004557,2017-01-10,6003797.0,2032688.0,760.0,599.0
12,A002,R051,02-00-00,59 ST,2017-01-12,2033908,6006153,2017-01-11,6004557.0,2033287.0,1596.0,621.0
13,A002,R051,02-00-00,59 ST,2017-01-13,2034519,6007777,2017-01-12,6006153.0,2033908.0,1624.0,611.0
14,A002,R051,02-00-00,59 ST,2017-01-14,2035096,6009241,2017-01-13,6007777.0,2034519.0,1464.0,577.0
15,A002,R051,02-00-00,59 ST,2017-01-15,2035386,6010051,2017-01-14,6009241.0,2035096.0,810.0,290.0
16,A002,R051,02-00-00,59 ST,2017-01-16,2035593,6010756,2017-01-15,6010051.0,2035386.0,705.0,207.0
17,A002,R051,02-00-00,59 ST,2017-01-17,2036031,6011828,2017-01-16,6010756.0,2035593.0,1072.0,438.0
18,A002,R051,02-00-00,59 ST,2017-01-18,2036622,6013340,2017-01-17,6011828.0,2036031.0,1512.0,591.0
19,A002,R051,02-00-00,59 ST,2017-01-19,2037250,6014983,2017-01-18,6013340.0,2036622.0,1643.0,628.0
20,A002,R051,02-00-00,59 ST,2017-01-20,2037894,6016544,2017-01-19,6014983.0,2037250.0,1561.0,644.0
21,A002,R051,02-00-00,59 ST,2017-01-21,2038517,6018091,2017-01-20,6016544.0,2037894.0,1547.0,623.0
22,A002,R051,02-00-00,59 ST,2017-01-22,2038907,6019370,2017-01-21,6018091.0,2038517.0,1279.0,390.0
23,A002,R051,02-00-00,59 ST,2017-01-23,2039172,6019977,2017-01-22,6019370.0,2038907.0,607.0,265.0
24,A002,R051,02-00-00,59 ST,2017-01-24,2039768,6021361,2017-01-23,6019977.0,2039172.0,1384.0,596.0
25,A002,R051,02-00-00,59 ST,2017-01-25,2040396,6022760,2017-01-24,6021361.0,2039768.0,1399.0,628.0
26,A002,R051,02-00-00,59 ST,2017-01-26,2040933,6024303,2017-01-25,6022760.0,2040396.0,1543.0,537.0
27,A002,R051,02-00-00,59 ST,2017-01-27,2041504,6025927,2017-01-26,6024303.0,2040933.0,1624.0,571.0
28,A002,R051,02-00-00,59 ST,2017-01-28,2042054,6027537,2017-01-27,6025927.0,2041504.0,1610.0,550.0
29,A002,R051,02-00-00,59 ST,2017-01-29,2042383,6028450,2017-01-28,6027537.0,2042054.0,913.0,329.0
30,A002,R051,02-00-00,59 ST,2017-01-30,2042641,6029117,2017-01-29,6028450.0,2042383.0,667.0,258.0
...,...,...,...,...,...,...,...,...,...,...,...,...
849210,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-01,299,5554,2017-05-31,5554.0,299.0,0.0,0.0
849211,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-02,299,5554,2017-06-01,5554.0,299.0,0.0,0.0
849212,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-03,299,5554,2017-06-02,5554.0,299.0,0.0,0.0
849213,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-04,299,5554,2017-06-03,5554.0,299.0,0.0,0.0
849214,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-05,299,5554,2017-06-04,5554.0,299.0,0.0,0.0
849215,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-06,299,5554,2017-06-05,5554.0,299.0,0.0,0.0
849216,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-07,299,5554,2017-06-06,5554.0,299.0,0.0,0.0
849217,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-08,299,5554,2017-06-07,5554.0,299.0,0.0,0.0
849218,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-09,299,5554,2017-06-08,5554.0,299.0,0.0,0.0
849219,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-10,299,5554,2017-06-09,5554.0,299.0,0.0,0.0
849220,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-11,299,5554,2017-06-10,5554.0,299.0,0.0,0.0
849221,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-12,299,5554,2017-06-11,5554.0,299.0,0.0,0.0
849222,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-13,299,5554,2017-06-12,5554.0,299.0,0.0,0.0
849223,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-14,299,5554,2017-06-13,5554.0,299.0,0.0,0.0
849224,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-15,299,5554,2017-06-14,5554.0,299.0,0.0,0.0
849225,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-16,299,5554,2017-06-15,5554.0,299.0,0.0,0.0
849226,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-17,299,5554,2017-06-16,5554.0,299.0,0.0,0.0
849227,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-18,299,5554,2017-06-17,5554.0,299.0,0.0,0.0
849228,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-19,301,5554,2017-06-18,5554.0,299.0,0.0,2.0
849229,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-20,301,5554,2017-06-19,5554.0,301.0,0.0,0.0
849230,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-21,301,5554,2017-06-20,5554.0,301.0,0.0,0.0
849231,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-22,301,5554,2017-06-21,5554.0,301.0,0.0,0.0
849232,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-23,301,5554,2017-06-22,5554.0,301.0,0.0,0.0
849233,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-24,301,5554,2017-06-23,5554.0,301.0,0.0,0.0
849234,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-25,301,5554,2017-06-24,5554.0,301.0,0.0,0.0
849235,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-26,301,5554,2017-06-25,5554.0,301.0,0.0,0.0
849236,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-27,301,5554,2017-06-26,5554.0,301.0,0.0,0.0
849237,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-28,301,5554,2017-06-27,5554.0,301.0,0.0,0.0
849238,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-29,301,5554,2017-06-28,5554.0,301.0,0.0,0.0
849239,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2017-06-30,301,5554,2017-06-29,5554.0,301.0,0.0,0.0